html{
    margin: 0;
    padding: 0;
    width: 100%;
}
.grid{
    display:grid;
    gap: 10px;
    grid-template-areas: 
    'navbar'
    'filtros'
    'main'
    'footer'
    ;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 70% 10%;
}
.navbar{
background-color: blue;
}
.filtros{
    background-color: gray;
}
.main{
    background-color: violet;
}
.footer{
    background-color: green;
}
@media(min-width: 576px){
    .grid{
        display:grid;
        gap: 10px;
        grid-template-areas: 
        'navbar navbar navbar'
        'filtros main main'
        'footer footer footer'
        ;
        grid-template-columns: 15% 85%;
        grid-template-rows: 10% 80% 10%;
    }
}
@media(min-width:992px){
    .grid{
        display:grid;
        gap: 10px;
        grid-template-areas: 
        'navbar filtros filtros filtros filtros'
        'navbar main main main main'
        'footer footer footer footer footer'
        ;
        grid-template-columns: 15% 85%;
        grid-template-rows: 10% 80% 10%;
    }
}
